.custom-file-upload {
    display: block;
    padding: 10px 10px;
    cursor: pointer;
    background-color: rgba(0, 128, 128, 1);
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 1em;
  }
  
  .hidden-file-input {
    display: none;
  }